#assign_header {
	background-color: deepskyblue;
	color: black;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 10px;
	margin: 0px 0px 15px 0px;
}

.caption {
	font-size: 14px;
	color: black;
	margin-top: 8px;
}



h1 { 	
		margin-bottom: 0px;
		color: skyblue;
		padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 18px;
}

h5 { 
	margin-bottom: 0px;
		color: darkblue;
		padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 18px;
}

body {
  background-color:lightgreen;
 } 

 html  {
 	max-width: 800px;
 	margin: 0px auto;
 	padding: 10px;
 	} 